/* 
  Challenge:
  Add the underline to the title using a <span> and a class.
*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
  color: white;
  background-image: url("../assets/images/universe.jpg");
  background-size: cover;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.btn {
  padding: 6px 12px;
  background-color: white;
  border: none;
  font-family: inherit;
}

.underline {
  border-bottom: 4px solid white;
}